.todo {
  --clr-border: hsl(0, 0%, 85%);
  --clr-background: hsl(0, 0%, 99%);

  position: relative;

  width: 100%;
  padding: 0;
  border: 0.1em solid var(--clr-border);
  border-radius: 1em;

  background-color: var(--clr-background);
  box-shadow: 0 0.3em 0.6em hsl(0, 0%, 80%);

  font-size: 1.4rem; /*Relative sizes...*/

  overflow: hidden;
  list-style: none;
  user-select: none;
}

.todo__list-item {
  padding: 1rem;
  width: 100%;
  height: 4rem;
  color: hsl(0, 0%, 30%);
  cursor: pointer;
  overflow: hidden;
  white-space: nowrap;
}

.todo__list-item:hover {
  color: black;
  background-color: hsl(0, 0%, 90%);
}

.todo__list-item--done {
  text-decoration-style: solid;
  text-decoration-line: line-through;
}

.placeholder {
  --transition-time: 0.2s;
  position: relative;
  width: 100%;
  height: 0.15em;
  background-color: var(--clr-background);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all var(--transition-time);
  cursor: cell;
}

.placeholder--show {
  background-color: var(--clr-border);
  padding: 0.6rem;
  height: auto;
  cursor: default;
}

.placeholder__input {
  display: none;
  width: 100%;
  border: none;
  border-radius: 0.5rem;
  padding: 0.2rem 0.5rem;
  outline: none;
}

.placeholder__input--show {
  display: block;
}

.placeholder__button {
  display: none;
  width: 2rem;
  height: 2rem;
  font-size: 1.6rem;
  justify-content: center;
  align-items: center;
  border: 0.1rem solid var(--clr-border);
  border-radius: 100%;
  background-color: var(--clr-background);
  cursor: pointer;
  color: #666;
  
  /* transition: opacity var(--transition-time); */
}

.placeholder__button--show {
  display: inline-flex;
  animation-name: addBtnAnimation;
  animation-duration: 0.3s;
}

@keyframes addBtnAnimation {
  from {
    opacity: 0;
    width: 0.5rem;
    height: 0.5rem;
    font-size: 0.25rem;
  }
  to {
    opacity: 1;
    width: 2rem;
    height: 2rem;
    font-size: 1.6rem;
  }
}