.todo {
  --clr-border: hsl(0, 0%, 85%);
  --clr-background: hsl(0, 0%, 99%);

  position: relative;

  width: 100%;
  padding: 0;
  border: 0.1em solid var(--clr-border);
  border-radius: 1em;

  background-color: var(--clr-background);
  box-shadow: 0 0.3em 0.6em hsl(0, 0%, 80%);

  font-size: 1.4rem; /*Relative sizes...*/

  overflow: hidden;
  list-style: none;
  user-select: none;
}

.todo__list-item {
  padding: 1em;
  width: 100%;
  color: hsl(0, 0%, 30%);
  cursor: pointer;
}

.todo__list-item:hover {
  color: black;
  background-color: hsl(0, 0%, 90%);
}

.todo__list-item--done {
  text-decoration-style: wavy;
  text-decoration-line: line-through;
}

.placeholder {
  --transition-time: 0.6s;
  position: absolute;
  width: 100%;
  height: 0.1rem;
  background-color: var(--clr-background);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color var(--transition-time);
}
.placeholder--show {
  background-color: var(--clr-border);
}

.placeholder__button {
  position: fixed;
  z-index: 100;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 1.4rem;
  height: 1.4rem;
  border: 0.1rem solid var(--clr-border);
  border-radius: 100%;
  background-color: var(--clr-background);
  cursor: pointer;
  font-size: 1rem;
  opacity: 0;
  transition: opacity var(--transition-time);
}

.placeholder__button--show {
  opacity: 1;
}
